* {
    padding: 0;
    margin: 0;
}

body {
  
  overflow-x: hidden;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* .mainbody {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    background: url(../images/main-page.png) center/cover no-repeat;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
} */

.mainbody {
  overflow: auto; /* Enable scrolling */
}

.main-image-container {
  max-width: 100%; /* Ensure the image does not exceed the screen width */
  overflow: auto; /* Enable scrolling if the image exceeds container dimensions */
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .closeIcon {
  position: absolute;
  z-index: 2;
  top: 10%;
  right: 10%;
}

.pop {
    position: absolute;
    right: 0;
    z-index: 20;
    left: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    max-width: 750px;
}

.pop a img {
    margin-left: -14px;
}

/* .inputbg {
  position: absolute;
    top: 38%;
    background-color: white;
    padding: 4px;
    border-radius: 4px;
    width: 30%;
} */

.main-image-container img {
  width: 100%;
    max-width: 750px;
}

#phoneNumberInput {
  width: 98%;
    height: 64px;
    padding-left: 8rem;;
}

/* #phoneNumberInput {
  width: 100%;
    height: 70px;
    border: 2px solid #5c0d08;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: 600;
    text-align: left;
    padding-left: 8rem;
    max-width: 439px;
}

.countrycode {
  position: absolute;
  top: 0.65rem;
  left: 1rem;
  font-size: 50px;
  font-weight: 800;
}
.inputbg span.divider {
  color: gray;
  margin-left: -6px;
    font-size: x-large;
    position: absolute;
    left: 18%;
    top: 25%;
}*/

.def {
  position: absolute;
  padding-left: 10px;
  display: flex;
    align-items: center;
}

.divider {
  color: gray;
  margin-left: 5px;
    font-size: x-large;
}

.countrycode {
  font-size: 3rem;
    font-weight: 800;
}

#openButton {
    background: transparent;
    border: 0;
} 

.container {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 750px;
    position: fixed;
    z-index: 999;
    height: 100%;
    right: 0;
    left: 0;
    top: 0;
    background-color: #000000de;
  }

  #gif {
    display: none;
    width: 100%;
    margin: 0 auto;
    height: auto;
  }

  #image {
    display: none;
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    height: auto;
    transform: translate(-50%, -50%);
    animation: zoomIn 1s ease forwards;
  }

  #popupImage {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }


  @keyframes zoomIn {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }

  .footer-text {
    display: none;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    bottom: 5%;
    color: white;
    font-size: 1.2rem;
  }

  .footer-text a {
    color: #2196f3;
    text-decoration: underline;
  }

  .footer-text p button img {
    margin-bottom: -9px;
  }

  #shareButton {
    background: transparent;
    border: 0;
  }

  .formwrap {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 35%;
    max-width: 650px;
    margin: 0 auto;
    flex-direction: column;
  }

  .inputbg {
    background-color: white;
    border-radius: 4px;
    width: 100%;
    height: 70px;
    margin-bottom: 1rem;
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .clear-icon {
    position: absolute;
    top: 34%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: xx-large;
    background-color: #dddddd;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    text-align: center;
    cursor: pointer;
    display: none;
}


  @media only screen and (max-width: 749px) {
    .formwrap {
      position: absolute;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 19%;
      max-width: 550px;
      margin: 0 auto;
      flex-direction: column;
  }
  }

  @media only screen and (max-width: 374px) {
    .formwrap {
      position: absolute;
      width: 100%;
      text-align: center;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 23% !important;
      max-width: 550px;
      margin: 0 auto;
      flex-direction: column;
  }
  }